.t-headline {
    padding: var(--main-padding);
    display: flex;
}


.t-feature {
    width: 100%;
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


.t-mini-feature {
    width: 100%;
    padding: var(--main-padding);
}


.t-flex {
    width: 100%;
}

.t-hl {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #A2A2A2;
    margin-bottom: 20px;
}

.t-row {
    padding-right: 30px;
}

.t-row .t-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
}

.t-row .t-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.t-row h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.t-row button {
    border: none;
    background: var(--button-color-main);
    padding: 20px 65px;
    border-radius: 75px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
}


.t-column {
    padding-left: 60px;
}

.t-column-flex {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.t-column-flex h1 {
    width: 60%;
    margin-right: 10%;
}

.t-column-flex div {
    width: 30%;
    height: 93px;
    background: white;
    overflow: hidden;
}

.t-column-flex div img {
    width: 100%;
}

.content-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
}

@media only screen and (max-width: 1400px) {
    .header-cnts h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        width: 80%;
        word-wrap: break-word;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .t-row .t-image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
        background: white;
    }
    .t-row h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .t-headline {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    
    .t-column {
        padding-left: 0;
        margin-top: 50px;
    }

    .t-feature {
        width: 100%;
        padding: var(--main-padding);
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .t-row {
        padding-right: 0;
    }

    .content-div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-gap: 20px;
    }
}