body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-items: center;
}

header {
    width: 100%;
}

header h1 {
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
}


form {
    padding: 50px;
    width: 50%;
}

input, textarea {
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

textarea {
    height: 60vh;
}

/* Styling for the label */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}
  
/* Styling for the input[type="file"] */
input[type="file"] {
    /* Hide the default file input */
    display: none;
}

/* Styling for the custom file input button */
label.file-input::after {
    content: "Browse";
    display: inline-block;
    padding: 8px 12px;
    background-color: #2495FD;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}

input[type="submit"] {
    background: none;
    border: none;
    color: white;
    background: #2495FD;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
}

.logout {
    text-align: center;
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: white;
    background: #fd2424;
    font-size: 15px;
    padding: 20px;
}

.selectLabel {
    margin-bottom: 15px;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    margin-bottom: 30px;
    font-size: 13px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #2495FD;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #2495FD;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }